<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted mt-5"
    style="background-color: #080808 !important; color: #FFD700 !important;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>تابعنا علي مواقع التواصل الاجتماعي</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Şehzad
                    </h6>
                    <p>
                       مطعم اكل سريع 
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        منتجتنا
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">لحوم</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">خضروات</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">فواكه</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">حلويات</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        معايير الجودة
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">النظافه</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">منتجات طازجة</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        تواصل معنا
                    </h6>
                    <p><i class="fas fa-home me-3"></i>
                        شارع مستشفي التامين الصحي امام مدرسة الفرنسيسكان - بجوار هاشم للعطور
                        </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>

                        <a class="text-reset fw-bold" href="https://foodkegypt.com/">foodkegypt.com</a>
                    </p>
                    <p><i class="fas fa-phone me-3"></i> 012234567890</p>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        Developed by <a href="https://www.facebook.com/easytechsuez" style="color: wheat;">easytech</a> and <a
            href="https://www.facebook.com/hady.taha.370/">Hadi Taha</a>

    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->